@model ZenithBankXpath.Web.Models.TransactionModel
@{
    ViewBag.Title = "AdditionalFields";
}
@*<form id="wizard-callbacks">
    <fieldset title="1">
        <legend>Basic--Information</legend>

    </fieldset>

    <fieldset title="2">
        <legend>About you</legend>

    </fieldset>

    <fieldset title="3">
        <legend>Social Profiles</legend>

    </fieldset>

    <button type="submit" class="btn btn-primary stepy-finish">Submit</button>
</form>*@
@Html.Partial("_TransactionDetails", Model)

@*@Scripts.Render("~/bundles/wizard")*@




@*<div class="row">
    <div class="col-lg-3 col-md-6" style="height:100px; background-color:blue"></div>
    <div class="col-lg-6 col-md-6" style="height:100px; background-color:red"></div>
    <div class="col-lg-3 col-md-6" style="height:100px; background-color:yellow"></div>
</div>*@