@model NIP.Adhoc.Core.contracts.IBusinessObjectModel
<div class="border border-white" style="height:400px;width:400px;background-color:lightgray">
    <div class="row text-center">

        <div class="col-md-4">
            <span class="min-chart" id="chart-sales" data-percent="56">
                <span class="percent">56</span>
                <canvas height="110" width="110"></canvas>
            </span>
            <h5>
                <span class="badge green">
                    Sales
                    <i class="fa fa-arrow-circle-up"></i>
                </span>
            </h5>
        </div>

        <div class="col-md-4">
            <span class="min-chart" id="chart-roi" data-percent="76">
                <span class="percent">76</span>
                <canvas height="110" width="110"></canvas>
            </span>
            <h5>
                <span class="badge red">
                    ROI
                    <i class="fa fa-arrow-circle-down"></i>
                </span>
            </h5>
        </div>

        <div class="col-md-4">
            <span class="min-chart" id="chart-conversion" data-percent="100">
                <span class="percent">100</span>
                <canvas height="110" width="110"></canvas>
            </span>
            <h5>
                <span class="badge grey">
                    Conversion
                    <i class="fa fa-minus-square"></i>
                </span>
            </h5>
        </div>

    </div>
</div>